*, *::after, *::before{
    outline: 0;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
}

canvas{
    width: 100%;
    height: 100%;
}